:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --sidebar-hover-bg: #33333333;
  --link-hover-color: #00c8ff;
  --carousel-title-color: #2d4d58;
  --button-active-bg: #aee7df80;
  --form-button-bg: #008080;
  --text-shadow-color: #000000cc;
  --under-line-text: #c0c0c0;
  --background-pageB: #b2ede8;
  --neon-blue: #0080ff;
  --neon-pink: #ff0060;
  --background-pageA: #3d3c3c;
  --text-color: #ffffff;
  --accent-color: #ff0078;
  --carousel-title-color: #ffffff;
  --text-shadow-color: #00000080;
  --hover-shadow-color: #ff007880;
}
