/* Base Setup for Flex Container */
.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 1.25rem;
  gap: 1.25rem;
  background: linear-gradient(
    to left,
    var(--contact-background-gradient-start),
    var(--contact-background-gradient-end)
  );
  border-radius: 0.9375rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 95%;
  max-width: 60rem;
  box-sizing: border-box;
}

/* Section-specific styling for contact and information areas */
.contact-section,
.contact-info {
  flex-grow: 1;
  background: var(--contact-background-semi-transparent);
  padding: 1.25rem;
  border-radius: 0.625rem;
  color: var(--contact-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Typography and Spacing */
.headText,
.contact-info h2,
.contact-info a {
  margin: 0.5rem;
  color: var(--contact-text-color);
  font-size: 1.5rem;
}

.formContainer {
  margin-top: 0.5rem;
}

/* Form styling for minimalist appeal */
.form-group {
  margin: 1rem;
}
.form-group label {
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.5rem;

  background-color: transparent;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

.form-group textarea {
  height: 7.5rem;
  resize: none;
}

/* Button and Link Styling */
.submit-button-contact {
  margin: 1rem;
  padding: 0.75rem;
  background-color: var(--contact-button-bg);
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit-button-contact:hover {
  background-color: var(--contact-button-hover-bg);
}

.contact-info a {
  color: var(--contact-button-bg);
  text-decoration: none;
  font-size: 1.1rem;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .flexContainer {
    flex-direction: column;
  }

  .contact-section,
  .contact-info {
    width: 100%;
  }
}

/* socialmedia */

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.social-icon {
  margin: 0 10px;
  color: var(--text-color); /* Assuming there's a CSS variable for text color */
  font-size: 2rem; /* Adjust size as needed */
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--link-hover-color); /* Adjust hover color */
}
