:root {
  --sidebar-width: 15.625rem; /* 250px */
}

.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  position: fixed;
  left: calc(-1 * var(--sidebar-width));
  top: 0;
  background-color: var(--side-bar-background);
  color: var(--text-color);
  padding: 0.625rem 1.25rem; /* 10px 20px */
  z-index: 2000;
  transition: left 0.3s;
}

.sidebar.open {
  left: 0;
}

.hamburger {
  font-size: 1.875rem; /* 30px */
  cursor: pointer;
  position: fixed;
  top: 0.625rem; /* 10px */
  left: 0.625rem; /* 10px */
  color: var(--hamburger-button);
  z-index: 2100;
  transition: opacity 0.3s ease;
}

.sidebar.open + .hamburger {
  opacity: 0;
  pointer-events: none;
}

.sidebar a {
  display: block;
  padding: 1rem;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-bottom: 0.0625rem solid var(--under-line-text); /* 1px */
}

.sidebar a:hover {
  color: var(--link-hover-color);
  background-color: var(--sidebar-hover-bg);
  border-radius: 1rem;
}

.sidebar:hover {
  background-color: var(--side-bar-hover);
}
