/* Flamenco Fonts */
@font-face {
  font-family: "FlamencoLight";
  src: url("../fonts/Flamenco-Light.ttf") format("truetype");
}
@font-face {
  font-family: "FlamencoRegular";
  src: url("../fonts/Flamenco-Regular.ttf") format("truetype");
}

/* Major Mono Display Fonts */
@font-face {
  font-family: "MajorMonoDisplay";
  src: url("../fonts/MajorMonoDisplay-Regular.ttf") format("truetype");
}

/* Megrim Font */
@font-face {
  font-family: "Megrim";
  src: url("../fonts/Megrim-Regular.ttf") format("truetype");
}

/* Monsieur La Doulaise Font */
@font-face {
  font-family: "MonsieurLaDoulaise";
  src: url("../fonts/MonsieurLaDoulaise-Regular.ttf") format("truetype");
}

/* Museo Moderno Fonts */
@font-face {
  font-family: "MuseoModernoBlack";
  src: url("../fonts/MuseoModerno-Black.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoBlackItalic";
  src: url("../fonts/MuseoModerno-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoBold";
  src: url("../fonts/MuseoModerno-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoBoldItalic";
  src: url("../fonts/MuseoModerno-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoExtraBold";
  src: url("../fonts/MuseoModerno-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoExtraBoldItalic";
  src: url("../fonts/MuseoModerno-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoExtraLight";
  src: url("../fonts/MuseoModerno-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoExtraLightItalic";
  src: url("../fonts/MuseoModerno-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoItalic";
  src: url("../fonts/MuseoModerno-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoLight";
  src: url("../fonts/MuseoModerno-Light.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoLightItalic";
  src: url("../fonts/MuseoModerno-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoMedium";
  src: url("../fonts/MuseoModerno-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoMediumItalic";
  src: url("../fonts/MuseoModerno-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoRegular";
  src: url("../fonts/MuseoModerno-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoSemiBold";
  src: url("../fonts/MuseoModerno-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoSemiBoldItalic";
  src: url("../fonts/MuseoModerno-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoThin";
  src: url("../fonts/MuseoModerno-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoThinItalic";
  src: url("../fonts/MuseoModerno-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoModernoVariable";
  src: url("../fonts/MuseoModerno-VariableFont_wght.ttf") format("truetype");
}

/* Sankofa Display Font */
@font-face {
  font-family: "SankofaDisplay";
  src: url("../fonts/SankofaDisplay-Regular.ttf") format("truetype");
}

/* Varta Fonts */
@font-face {
  font-family: "VartaBold";
  src: url("../fonts/Varta-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "VartaLight";
  src: url("../fonts/Varta-Light.ttf") format("truetype");
}
@font-face {
  font-family: "VartaMedium";
  src: url("../fonts/Varta-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "VartaRegular";
  src: url("../fonts/Varta-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "VartaSemiBold";
  src: url("../fonts/Varta-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "VartaVariable";
  src: url("../fonts/Varta-VariableFont_wght.ttf") format("truetype");
}

* {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html,
body {
  overflow-x: hidden;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  background-color: gray;
  color: white;
}

/* Full height carousel setup */

.carousel-container {
  position: relative;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden;
}

.carousel-slide {
  position: relative;
  height: 100vh;
}

.carousel-title,
.carousel-titleA {
  position: absolute;
  top: 100%;
  left: 50%;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
  font-family: "Megrim";
  font-size: 5rem;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  z-index: 20;
}
.carousel-titleA {
  top: 110%;
  font-size: 2rem;
}

/* Each carousel item will serve as a background */
.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ensures the container's height is full viewport height */
  background-size: cover; /* Covers the entire container, may crop if aspect ratios do not match */
  background-position: center top; /* Centers the image to ensure best parts are likely visible */
  background-repeat: no-repeat; /* No repeating of the image */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.6s ease-in-out; /* Smooth fade transition */
}

/* Active carousel item (visible image) */
.carousel-item.active {
  opacity: 1;
}

/* Button Styles */
button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 100;
  outline: none;
}

button:active {
  background-color: rgba(0, 0, 0, 0.5); /* Even darker when clicked */
}

#prev {
  left: 20px;
}

#next {
  right: 20px;
}

.section {
  padding: 50px;
  text-align: center;
}

#videos .video-container iframe {
  width: 45%;
  height: 300px;
  margin: 20px;
}

#music .music-container audio {
  margin: 20px;
}

form input,
form textarea {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
}

form button {
  padding: 10px 20px;
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
}

/* Base styles are for larger screens as you've defined */

/* Medium screens (tablets, large phones e.g., iPads, iPad Pros) */
@media (max-width: 768px) {
  .carousel-title,
  .carousel-titleA {
    font-size: 3rem; /* Smaller font size for medium screens */
    padding: 3px 7px; /* Adjust padding to be proportionate */
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); /* Slightly lighter shadow */
  }

  .carousel-titleA {
    font-size: 2.5rem; /* Even smaller for variant A */
    top: 105%; /* Adjust positioning if necessary */
  }
}

/* Small screens (smaller tablets and mobile phones) */
@media (max-width: 480px) {
  .carousel-title,
  .carousel-titleA {
    font-size: 2rem; /* Smaller font size for small screens */
    padding: 2px 5px; /* Smaller padding */
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7); /* Lightest shadow for readability */
  }

  .carousel-titleA {
    font-size: 1.5rem; /* Smallest for variant A */
    top: 110%; /* Adjust top to better fit mobile screens */
  }
}
