* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html,
body {
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* .section {
  padding: 50px;
  text-align: center;
}

#videos .video-container iframe {
  width: 45%;
  height: 300px;
  margin: 20px;
}

#music .music-container audio {
  margin: 20px;
}

form input,
form textarea {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
}

form button {
  padding: 10px 20px;
  background-color: var(--form-button-bg);
  color: var(--text-color);
  border: none;
  cursor: pointer;
} */
