* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
}

.shadowTop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: black;
  background: linear-gradient(
    to bottom,
    var(--shadow-a) 0%,
    var(--shadow-b) 50%,
    var(--shadow-c) 100%
  );
  z-index: 30;
}

.shadowBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: black;
  background: linear-gradient(
    to top,
    var(--shadow-a) 0%,
    var(--shadow-b) 50%,
    var(--shadow-c) 100%
  );
  z-index: 30;
}
/* .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  color: var(--arrow);
  cursor: pointer;
  animation: bounce 2s infinite;
  z-index: 60;
  text-decoration: none;
  border: 1px solid var(--arrow-border);
  background-color: var(--arrow-background);
  border-radius: 50%;
}

.arrowUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 5rem;
  left: 51%;
  transform: translateX(-50%);
  font-size: 4rem;
  color: var(--arrow);
  cursor: pointer;
  animation: bounce 2s infinite;
  z-index: 60;
  text-decoration: none;
  border: 1px solid var(--arrow-border);
  background-color: var(--arrow-background);
  border-radius: 50%;
}
.arrowUpAll {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  top: 1rem;
  left: 90%;
  transform: translateX(-50%);
  font-size: 4rem;
  color: var(--arrow);
  cursor: pointer;
  animation: bounce 2s infinite;
  z-index: 60;
  text-decoration: none;
  border: 1px solid var(--arrow-border);
  background-color: var(--arrow-background);
  border-radius: 50%;
} */
