.shadowTopYoutube {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: black;
  background: linear-gradient(
    to bottom,
    var(--shadow-a) 0%,
    var(--shadow-b) 50%,
    var(--shadow-c) 100%
  );
  z-index: 30;
}

.shadowBottomYoutube {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: black;
  background: linear-gradient(
    to top,
    var(--shadow-a) 0%,
    var(--shadow-b) 50%,
    var(--shadow-c) 100%
  );
  z-index: 30;
}
.sectionVideo {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-color: var(--section-video-background);
  color: var(--text-color);
  /* background: radial-gradient(#11d037, #8c0909);
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out; */
}

.videoSectionA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem; /* 20px */
  padding: 1.25rem; /* 20px */
}

.videoContainer iframe {
  max-width: 25rem; /* 400px */
  height: 17.5rem; /* 280px */
  border: 0.125rem solid var(--accent-color); /* 2px */
  border-radius: 0.9375rem; /* 15px */
  box-shadow: 0 0.25rem 0.5rem var(--videoContainerIFram); /* 4px 8px */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.videoContainer iframe:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem var(--hover-shadow-color); /* 8px 16px */
}

.videoTitle {
  font-family: Arial, sans-serif;
  text-align: center;
  color: var(--text-color);
  font-size: 2rem;
  text-shadow: 0.125rem 0.125rem 0.25rem var(--text-shadow-color);
  margin: 0.5rem 1rem 0.5rem 1rem;
  z-index: 50;
}

@media (max-width: 768px) {
  .videoTitle {
    font-size: 1.5rem; /* 32px */
  }
  .videoSection {
    padding: 1rem;
  }
  .sectionVideo {
    max-height: 100vh;
  }
}

@media (max-width: 480px) {
  .videoTitle {
    font-size: 1rem; /* 24px */
  }
  .videoContainer iframe {
    max-width: 90%;
    height: auto;
  }
  .sectionVideo {
    max-height: 100vh;
  }
}

/* fancy Background */

.light {
  position: absolute;
  width: 0px;
  opacity: 0.75;
  background-color: var(--light-background-color);
  box-shadow: var(--light-box-shadow-color) 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1 {
  animation: var(--animation-float-up) 4s infinite linear;
  transform: scale(1);
}

.x2 {
  animation: var(--animation-float-up) 7s infinite linear;
  transform: scale(1.6);
  left: 15%;
}

.x3 {
  animation: var(--animation-float-up) 2.5s infinite linear;
  transform: scale(0.5);
  left: -15%;
}

.x4 {
  animation: var(--animation-float-up) 4.5s infinite linear;
  transform: scale(1.2);
  left: -34%;
}

.x5 {
  animation: var(--animation-float-up) 8s infinite linear;
  transform: scale(2.2);
  left: -57%;
}

.x6 {
  animation: var(--animation-float-up) 3s infinite linear;
  transform: scale(0.8);
  left: -81%;
}

.x7 {
  animation: var(--animation-float-up) 5.3s infinite linear;
  transform: scale(3.2);
  left: 37%;
}

.x8 {
  animation: var(--animation-float-up) 4.7s infinite linear;
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  animation: var(--animation-float-up) 4.1s infinite linear;
  transform: scale(0.9);
  left: 85%;
}

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
