.section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-color: var(--background-pageA);
  color: var(--text-color);
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.videoContainer iframe {
  max-width: 400px;
  height: 280px;
  border: 2px solid var(--accent-color); /* Accent border */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.videoContainer iframe:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 8px 16px var(--hover-shadow-color);
}

.videoTitle {
  font-family: "MuseoModernoBold", Arial, sans-serif;
  color: var(--carousel-title-color);
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px var(--text-shadow-color);
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .videoTitle {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .videoTitle {
    font-size: 1.5rem;
  }
  .videoContainer iframe {
    max-width: 90%; /* Full width on very small screens */
    height: auto; /* Maintain aspect ratio */
  }
}
