.section {
  position: relative;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  overflow-y: auto; /* Allow vertical scrolling */
  background-color: var(
    --background-pageA
  ); /* Ensure the variable is defined in your :root or elsewhere */
}

.videoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px; /* Padding for aesthetic spacing, optional */
  overflow-y: visible; /* Let inner content be visible */
}

.videoContainer iframe {
  max-width: 400px;
  height: 280px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.videoContainer iframe:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.videoTitle {
  font-family: "MuseoModernoBold", Arial, sans-serif;
  color: var(--carousel-title-color); /* Ensure this variable is defined */
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 1px 1px 4px var(--text-shadow-color);
  padding: 2rem 0; /* Adjust padding to maintain consistent spacing */
}

@media (max-width: 768px) {
  .videoTitle {
    font-size: 2rem; /* Smaller font size for medium screens */
  }
}

@media (max-width: 480px) {
  .videoTitle {
    font-size: 1.5rem; /* Even smaller font size for small screens */
  }
}
